<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sale_item/category.css">
    <title>商品分类</title>
</head>
<body>
<div class="of-header gray">
    <a class="header-back" href="javascript:history.back()"></a>
    分类
    <a class="header-function" href="/">首页</a>
</div>
<!--商品排序方式-->
<div class="of-category-input">
    <input placeholder="搜索您需要的商品" type="text" maxlength="20">
</div>
<div class="of-category-main clear-float">
    <div class="of-category-main-nav">
        <% var list=["苹果手机","安卓手机","手机配件","潮流数码","平板电脑","手提电脑","视频摄像"]%>
        <ul class="of-category-list">
            <%for(var i=0;i<list.length;i++){%>
            <% var status=i==0?"active":"disable";%>
            <li class="<%- status%>">
                <%-list[i]%>
            </li>
            <%}%>
        </ul>
    </div>
    <div class="of-category-main-wrapper">
        <div class="of-category-main-poster">
            <img src="/images/ad_banner/ad_banner.png">
        </div>
        <ul class="of-category-main-item">
            <%var data={
                img:"/images/item_detail/iphone6.png",
                detail:"苹果 iPhone6"
            }%>
            <%for(var i=0;i<10;i++){ %>
            <%var styleChooser=i%2==0?"splitline":"";%>
            <a href="/sale/detail">
            <li class="<%-styleChooser%>">
                <img src="<%-data.img%>">
                <span><%-data.detail%></span>
                <span>每个ID限购一单</span>
            </li>
            </a>
            <%}%>
        </ul>
    </div>

</div>
<!--底部导航栏-->
<% include ../header_bottom/bottom%>
</body>
</html>